/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display:ital@0;1&family=Great+Vibes&display=swap');

/* VARIABLES */
:root {
    /* Pallete */
    --primary: rgb(246, 247, 255);
    --secundary: #0d1317ff;
    --light: #fdfdfd;
    --oxford-blue: #101d42ff;

    /* Font Sizes */
    --text-xxl: 4.8em;
    --text-xl: 3.6em;
    --text-lg: 3.2em;
    --text-md: 2.2em;
    --text-sm: 1.6em;
    --text-xs: 0.8em;

    /* Spacings */
    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 3.2rem;
    --sp-sm: 1.2rem;
    --sp-xs: 0.8rem;

}

/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { /* etiqueta raíz */
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: var(--text-sm);
    color: var(--secundary);
}

header {
    background-image: url(../img/1header_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--primary);
    text-align: center;
    padding: var(--sp-lg) var(--sp-md);
}

footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(0,75,149,1) 100%, rgba(0,161,194,1) 100%);
    color: var(--light);
    font-size: var(--text-xs);
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: var(--text-lg);
    color: var(--oxford-blue);
    text-align: center;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: var(--text-lg);
}

h3 {
    font-size: var(--text-md);
}

a {
    text-decoration: none;
    font-size: var(--text-sm);
    color: var(--light);
}

ul  {
    list-style-type: none;
}

.navbar {
    padding: var(--sp-sm);
}

.navbar__img {
    width: 10rem;
    height: 10rem;
}

.menu__link {
    padding: 1rem;
    transition: .7s;
    border-radius: var(--sp-md);
    border: none;
}

.menu__link:hover {
    background-color: var(--oxford-blue);
    color: var(--light);
    opacity: .8;
}

.navbar-light .navbar-toggler-icon {
    width: 4rem;
    height: 4rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 247, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar__img--redes {
    width: 4rem;
    height: 4rem;
}

.propiedades-destacadas article {
    padding: var(--sp-md);
}

.propiedades-destacadas__titulo {
    font-size: var(--text-sm);
}

.propiedades-destacadas__img {
    width: 30rem;
    height: 20rem;
    padding: var(--sp-sm);
}

.link--vermas {
    color: var(--oxford-blue);
    text-decoration: underline;
    font-size: var(--text-xs);
}

main section h2, .bienvenidos__titulo, .bienvenidos__parrafo, .nosotros {
    text-align: left;
    padding: var(--sp-sm);
}

.alquileres-ventas {
    padding: var(--sp-xs);
    border-radius: var(--sp-md);
    margin: var(--sp-xs);
    background-color: var(--light);
}

.alquileres-ventas__titulo {
    text-transform: uppercase;
}

.propiedades-destacadas, #bienvenidos, .alquileres-ventas {
    padding: var(--sp-sm) 0;
}

.footer-divs {
    padding: var(--sp-xs);
}

.footer__icono {
    width: 1.5rem;
    height: 1.5rem;
}

.footer__video {
    width: 400px;
    height: 267px;
}

.footer__derechos {
    text-align: center;
}

/* Contacto */
.formulario {
    background-color: var(--primary);
    width: min( 80rem, 100% ); /*Utiliza el valor más chico*/
    margin: 0 auto;
    padding: var(--sp-md);
    border-radius: var(--sp-sm);
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: left;
    font-size: var(--text-sm);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: var(--sp-sm);
    color: var(--secundary);
    padding-top: var(--sp-sm);
}

.form-campos {
    margin-bottom: var(--sp-sm);
}

.form-campos label {
    color: var(--oxford-blue);
    font-weight: bold;
    margin-bottom: var(--sp-sm);
    display: block;
}

.form-campos textarea {
    width: 100%;
    height: 20rem;
    padding: var(--sp-sm);
    border-radius: var(--sp-xs);
}

.form-input-text {
    width: 100%;
    border: none;
    padding: var(--sp-sm);
    border-radius: var(--sp-xs);
}

.form__boton {
    background-color: var(--oxford-blue);
    color: var(--light);
    padding: var(--sp-xs) var(--sp-sm);
    margin-top: var(--sp-xs);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: var(--sp-sm);
    border: none;
}

@media (min-width: 768px) {
    .form-contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .form-campos:nth-child(1),
    .form-campos:nth-child(5) {
        grid-column: 1 / 5;
    }
}

@media (min-width: 768px) {
    .form-contenedor-ayv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        column-gap: 1rem;
    }
    .form-campos:nth-child(1),
    .form-campos:nth-child(5) {
        grid-column: 1 / 5;
    }
}

.card-estilo {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
    cursor: default;
}

.card-estilo:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translate(-3%);
}

.separador-articulos {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .separador-articulos .propiedades-destacadas-articulos, .alquileres-ventas {
        flex: 1 1 30rem;
    }
}

/* Corrigiendo responsive con @media */

@media screen and (max-width: 670px) {
    .menu__item {
        font-size: var(--text-xs);
    }
    .navbar-light .navbar-toggler-icon {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 1.3em;
    }
    main {
        padding: var(--sp-md) var(--sp-sm);
    }
    .navbar__img {
        width: 6rem;
        height: 6rem;
    }
    .propiedades-destacadas__img {
        width: 20rem;
        height: 13.3333333rem;
        padding: var(--sp-xs);
    }

    .footer__video {
        width: 200px;
        height: 133.333333px;
    }
}

@media screen and (max-width: 306px) {
    body {
        font-size: 1em;
    }
    main {
        padding: var(--sp-sm) var(--sp-xs);
    }
    .propiedades-destacadas__img {
        width: 15rem;
        height: 10rem;
        padding: 0;
    }

    .footer__video {
        width: 150px;
        height: 100px;
    }
}

