// @import "../misc/variables";
header {
    background-image: url(../img/1header_img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin: 0 auto;
    position: relative;

    .navbar {
        padding: $sp-sm;
    }

    .navbar__img {
        width: 10rem;
        height: 10rem;
    }
    
    .menu__link {
        padding: 1rem;
        transition: .7s;
        border-radius: $sp-md;
        border: none;

        &--active {
            @extend .menu__link;
            background-color: $light;
            opacity: .4;
            color: $oxford-blue;
        }

        &:hover {
            background-color: $oxford-blue;
            color: $light;
            opacity: .8;
        }
    }
    
    .navbar-light .navbar-toggler-icon {
        width: 4rem;
        height: 4rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 247, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .navbar__img--redes {
        width: 4rem;
        height: 4rem;
    }
}