// @import "../misc/variables";
.propiedades-destacadas {
    .separador-articulos {
        display: flex;
        flex-wrap: wrap;

        article {
            padding: $sp-md;

            .propiedades-destacadas__titulo {
                font-size: $text-sm;
            }

            .propiedades-destacadas__img {
                width: 30rem;
                height: 20rem;
                padding: $sp-sm;
            }

            .link--vermas {
                color: $oxford-blue;
                text-decoration: underline;
                font-size: $text-xs;
            }
        }
    }
}

.separador-articulos {
    .alquileres-ventas {
        padding: $sp-xs;
        border-radius: $sp-md;
        margin: $sp-xs;
        background-color: $light;

        .alquileres-ventas__titulo {
            text-transform: uppercase;
        }

        .link--vermas {
            color: $oxford-blue;
            text-decoration: underline;
            font-size: $text-xs;
        }
    }
}

.propiedades-destacadas, #bienvenidos, .alquileres-ventas {
    padding: $sp-sm 0;
}



@media (min-width: 768px) {
    .separador-articulos .propiedades-destacadas-articulos, .alquileres-ventas {
        flex: 1 1 30rem;
    }
}